.iframer{
        
        margin-left: 50px;
        display:flex;
    }
.if{
        margin-left: 80px;
        margin-top: 50px;
        display: flex;
        width: 400px;
        height: 400px;
        margin-left: 50px;
    }
.paragrafs{
        display:flex;
        flex-direction: column;
        gap:15px
    }
.sec4{
        margin-left: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
