/* estilização das perguntas do faq*/
.pergunta{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #814813;
    margin-left: 140px;
    margin-top: 40px;
}
/* estilização das respostas*/
.parag{
    max-width: 700px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 140px;
    width: 1200px;
    
}
/* para poder ser chamado no js*/
.js-faq p{
    display: none;
}
.js-faq p.active{
    display:block;
}
/*estilização quando a tela for de no máximo 680 ou 460*/
@media screen and(max-width:680px){
    .pergunta{
        display: grid;  
        grid-template-columns: 1fr;  
        font-size: 25px;
        margin-left: 0px;
        margin-right: 20px;
    }


    .parag{
        margin-left:0px;
        padding:0px;
        margin-right: 20px;
        display: grid;  
        grid-template-columns: 1fr;  
        font-size: 15px;
        justify-content: center;
        max-width:min-content;

    }
}
@media screen and(max-width:460px){
    .pergunta{
        display: grid;  
        grid-template-columns: 1fr;  
        font-size: 10px;
        margin-left: 0px;
        margin-right: 10px;
    }


    .parag{
        margin-left:0px;
        padding:0px;
        margin-right: 10px;
        display: grid;  
        grid-template-columns: 1fr;  
        font-size: 7px;
        justify-content: center;
    

    }
}